<template>
 <div>
  <b-navbar toggleable="lg" type="dark" variant="info">
    <b-navbar-brand href="#">Sahag's Task</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
    
       
       <b-nav-item >   <router-link to="/">Home</router-link>    </b-nav-item>
        
    <b-nav-item >  <router-link v-if="!isLoggedIn" to="/login">Login</router-link></b-nav-item>
      <b-nav-item >     <router-link v-if="!isLoggedIn" to="/register">Register</router-link></b-nav-item>
        <b-button v-if="isLoggedIn" @click="Logouts" name="logout" class="btn btn-danger" > Logout</b-button>
 
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        

        

        
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {

methods:{
    ...mapActions(['Logout']),
    Logouts(){
        console.log("asdsa");
        this.Logout();
    }
},

computed:{
    ...mapGetters(['isLoggedIn'])
}
}
</script>

<style>

</style>