<template><div class="col-md-6">
  <form  method="post" @submit="addRecepies">
    <!-- End row -->
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Title</label>
          <input
            type="text"
            id="email_contact"
            v-model="recepies.name"
            class="form-control"
            placeholder="Enter name"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Description</label>
          <textarea
            rows="5"
            id="message_contact"
            v-model="recepies.description"
            class="form-control"
            placeholder="Write your description"
            style="height: 200px"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label>Image URL (i made it like this because we don't have DB)</label>
        <input
          type="text"
          id="image"
          v-model="recepies.image"
          class="form-control"
          placeholder="Enter Image URl"
        />
      </div>
    </div>
    <b-button class="btn btn-success" type="submit" >Add Recepie</b-button>
  </form>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  data() {
    return {
      recepies: {
        id: Math.random()*1000,
        name: "",
        description: "",
        image: "",
      },
    };
  },

  methods: {
       
...mapActions(['AddRecepie']),
 
    addRecepies(e) {
      e.preventDefault();
      this.AddRecepie(this.recepies);
    },
  },
};
</script>

<style>
</style>
