<template> <div class="container">

    
  <transition-group name="fadeLeft" tag="div" class="row">
      
  <b-card v-for="singleItem in recps" :key="singleItem.id"
    :title="singleItem.name"
    :img-src="singleItem.image"
    img-alt="Image"
    img-top
    tag="article"
    style="max-width: 20rem;"
    class="mb-2"
  >
    <b-card-text>
  {{singleItem.description}}
   </b-card-text>

    <b-button   @click="EditGet(singleItem)" variant="primary">Edit</b-button> <b-button @click="Remove(singleItem.id)" variant="danger">Delete</b-button>
  </b-card>
 
  </transition-group>
 <div class="row">

     <add-recepies class="col-md-6" />
  <edit-recepies class="col-md-6" :recepie="editrecepie" />
 </div>



 </div>
</template>

<script>
import {    mapActions, mapGetters } from 'vuex';
import AddRecepies from './AddRecepies.vue';
import EditRecepies from './EditRecepies.vue';
  export default {
  components: { AddRecepies, EditRecepies },
    data() {
    return {
      editrecepie: {
        id: 0,
        name: "",
        description: "",
        image: "",
      },
    };
  },
 

    computed:{
...mapGetters(['recps'])
},

methods:{
    ...mapActions(['removeFromRecps','GetEdit']),
    Remove(id){
        this.removeFromRecps(id)
    },
     EditGet(item){
    
          this.GetEdit(item);
    }
}


  }
</script>