<template><div class="col-md-6">
  <form  method="post" @submit="addRecepies">
    <!-- End row -->
    <div class="row">
          <input
          hidden
            type="text"
            id="id"
            
            :value="editrecepie.id"
            class="form-control"
            placeholder="Enter name"
          />
      <div class="col-sm-6">
        <div class="form-group">
          <label>Title</label>
          <input
            type="text"
            id="name"
            :value="editrecepie.name"
            class="form-control"
            placeholder="Enter name"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Description</label>
          <textarea
            rows="5"
            id="description"
            :value="editrecepie.description"
            class="form-control"
            placeholder="Write your description"
            style="height: 200px"
          > </textarea>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label>Image URL (i made it like this because we don't have DB)</label>
        <input
          type="text"
          id="image"
          :value="editrecepie.image"
          class="form-control"
          placeholder="Enter Image URl"
        />
      </div>
    </div>
    <b-button class="btn btn-success" type="submit" >Edit Recepie</b-button>
  </form>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
export default {
    props:{
        recepie:Object
    },
  data() {
    return {
      recepies: {
        id: '',
        name: '',
        description: '',
        image: '',
      },
    };
  },
 
computed:{
...mapGetters(['editrecepie'])
},
  methods: {
       
...mapActions(['EditRecepie']),
 
    addRecepies(e) {
      e.preventDefault();
      
      this.EditRecepie({
          id:e.target['id'].value,
          name:e.target['name'].value,
          description:e.target['description'].value,
          image:e.target['image'].value,
          
          
          });
    },
  },
};
</script>

<style>
</style>
