<template>
<div>
  <navbar-component/>
  <transition
  name="bounce"
  enter-active-class="bounceInLeft"
  leave-active-class="bounceOutRight"
>
   <router-view style="animation-duration: 1s"  appear >

   </router-view>
  </transition>
   </div>
</template>

<script>
 
import NavbarComponent from './shared/NavbarComponent.vue'

export default {
  name: 'App',
  components: {
     
    NavbarComponent
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
