<template>
<div >
<div class="container" v-if="!isLoggedIn" >
    <div class="row">
        <div class="offset-3 col-md-6">
  <div id="sign-in-dialog">
    <div class="small-dialog-header">
      <h3>Login</h3>
    </div>
    
    <form method="post"  @submit="Logins">
      <div class="sign-in-wrapper">
   
      

        <div class="form-group">
          <input
            type="email"
            id="email_contact"
            v-model="login.email"
            class="form-control"
            placeholder="Enter Email"
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            id="email_contact"
            v-model="login.password"
            class="form-control"
            placeholder="Enter Password"
          />
        </div>

        <div class="text-center">
          <button type="submit" value="login" class="btn btn-primary" > Login  </button>
        </div>
      </div>
    </form>
    </div>
  </div>
  </div>
  </div>
  <div v-if="isLoggedIn">
{{this.$router.push('/') }}
  </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
 
export default {
  data() {
    return {
      login: {
        email: "",
        password: "",
      },
    };
  },
 mounted:{
  
 },
  methods: {
      ...mapActions(['Login']),
    Logins(e) {
      e.preventDefault();
  this.$store.dispatch('Login',this.login);
    },
  },


  computed:{

      ...mapGetters(['isLoggedIn'])
  }
};
</script>

<style>
</style>
