<template><div> 
<div v-if="!isLoggedIn" class="container">
    <div class="row">
        <div class="offset-3 col-md-6">
  <div id="sign-in-dialog">
    <div class="small-dialog-header">
      <h3>Register</h3>
    </div>
    <form method="post" @submit="Registers">
      <div class="sign-in-wrapper">
      
        <div class="form-group">
          <input
            type="name"
            id="email_contact"
            v-model="register.name"
            class="form-control"
            placeholder="Enter name"
          />
        </div>
        <div class="form-group">
          <input
            type="email"
            id="email_contact"
            v-model="register.email"
            class="form-control"
            placeholder="Enter Email"
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            id="email_contact"
            v-model="register.password"
            class="form-control"
            placeholder="Enter Password"
          />
        </div>

        <div class="text-center">
          <button type="submit" value="Register" class="btn btn-success"> Register </button>
        </div>
      </div>
    </form>
  </div>
   </div>
    </div>
     </div>
 <div v-if="isLoggedIn">
{{this.$router.push('/') }}
  </div>
          </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
 
export default {
  data() {
    return {
      register: {
          name:"",
        email: "",
        password: "",
      },
    };
  },

  methods: {
      ...mapActions(['Register']),
    Registers(e) {
      e.preventDefault();
      this.Register(this.register);
    },
  },
  computed:{
      ...mapGetters(['isLoggedIn'])
  }
};
</script>

<style>
</style>
